# un comentario - es ignorado
# ningún archivo temporal (~)
# pero si queremos versionar el archivo lib.o, incluse aunque estemos ignorando los archivos .o más arriba
#!lib.o
*~
.*
libs/commons-library/src/build
*/Debug
/Ensamblador
